.table-basic {
    border-collapse: separate;
    border-spacing: 12px;
}

.table-basic td {
    border-bottom: 1px solid #555555;
    border-right: 1px solid #555555;
    padding: 8px;
    box-shadow: 2px 2px 4px #555555;
    background: #eeeeee;
}

.table-basic th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

.table-basic caption {
    caption-side: bottom;
    text-align: right;
}

/*SEPARATOR*/

.table-advance {
    border-collapse: collapse;
}

.table-advance td {
    border: 1px solid #cccccc;
    padding: 12px;
}

.table-advance th {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #000000;
}

.table-advance caption {
    caption-side: bottom;
    text-align: right;
}
